*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* background-color: aqua; */
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-box{
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 550px;
    width: 800px;
    background-color: blueviolet;
}
.title{
    padding: 20px 5px;
    border: 2px solid red;

}
.inputs{
    height: 20px;
    background-color: bisque;
}
.button{
    height: 20px;
    background-color: brown;
}